{sub_dirs, ["rel"]}.
{cover_enabled, true}.
{lib_dirs, ["deps", "apps"]}.
{erl_opts, [debug_info,
            warnings_as_errors,
            %% warn_untyped_record, %% Webmachine has many of these
            {parse_transform, lager_transform}]}.
{xref_checks, [undefined_function_calls]}.
{xref_queries, [{"(XC - UC) || (XU - X - B)", []}]}.
{reset_after_eunit, true}.
{eunit_opts, [verbose]}.
{ct_log_dir, "ct_log"}.
{edoc_opts, [preprocess,
             {dir, "edoc"}]}.
{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog", {tag, "2.0.3"}}},
        {rebar_lock_deps_plugin, ".*", {git, "git://github.com/seth/rebar_lock_deps_plugin.git", "7a5835029c42b8138325405237ea7e8516a84800"}},
        {node_package, ".*", {git, "git://github.com/basho/node_package", {tag, "2.0.1"}}},
        {clique, "0.3.1", {git, "git://github.com/basho/clique.git", {tag, "0.3.1"}}},
        {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish", {tag, "2.0.1"}}},
        {mochiweb, ".*", {git, "git://github.com/basho/mochiweb", {tag, "v2.9.0p1"}}},
        {hackney, ".*", {git, "git://github.com/benoitc/hackney", {tag, "1.6.0"}}},
        {mustache, ".*", {git, "git://github.com/mojombo/mustache.erl", {tag, "v0.1.1"}}},
        {erlang_mesos, ".*", {git, "git://github.com/basho-labs/mesos-executor-bindings.git", {tag, "v0.26.0"}}},
        {riak_mesos_md_mgr, ".*", {git, "git@github.com:/basho-labs/riak-mesos-metadata-manager.git", {tag, "0.1.0"}}},
        {erlpmd, ".*", {git, "git@github.com:sanmiguel/erlpmd.git", {tag, "4.0.0"}}},
        {erlexec, ".*", {git, "https://github.com/basho/erlexec.git", {tag, "f906b92797fc3701d578df45dad7653ef27e01d8"}}}
       ]}.

{plugins, [rebar_lock_deps_plugin]}.
