%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{include_src, false}.
{release, {riak_mesos_executor, {semver, ""}},
 [
  sasl,
  riak_mesos_executor 
 ]}.

%{extended_start_script, true}.
% Comment out the following to let relx create a default vm.args:
% that way it'll connect to a local epmd allowing remsh connection
{vm_args, "rel/vm.args"}.

{sys_config, "rel/sys.config"}.

{overlay_vars, "rel/vars.config"}.
{overlay,
 [
  {copy, "priv", "priv"},
  {copy, "rel/files/ermf-executor.sh", "bin/ermf-executor"}
 ]}.
